body {
    background-color: rgb(156, 200, 142);
    color: red;
}

#page {
    background-color: rgb(10, 58, 26);
    color: rgb(213, 253, 193);
    width: 400px;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(111, 0, 255);
    overflow: auto;
}

#page img {
    width: 300px;
}

.box {
    width: 200px;
    height: 300px;
    background-color: rgba(30, 30, 170, 0.5);
    position: fixed;
    top: 100px;
    left: 300px;
    border: 2px solid red;
    border-radius: 20px 40px 60px 80px / 80px 60px 40px 20px;
    box-shadow: -10px 10px 15px blueviolet, 10px 10px 15px rgb(43, 226, 86), -10px -10px 15px rgb(226, 202, 43), 10px -10px 15px rgb(226, 43, 92);
}

h1 {
    text-shadow: 5px 5px 10px rgb(255, 255, 255);
}

ul li {
    list-style-image: url(icon.jpg);
}